@model IEnumerable<BugTracker.Models.Project>

@{
    ViewBag.Title = "OpenProjects";
}

<h2>Open Projects</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
        {
            <td>
                @Html.ActionLink("Assign Users", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        }
    </tr>
}

</table>
