@{
    ViewBag.Title = "Forgot Password Confirmation";
}
@{ Layout = null;}
@Styles.Render("~/Content/css")
<link href="~/Content/LoginStyle.css" rel="stylesheet" />
<link rel="shortcut icon" href="~/Images/ms-icon-310x310.png" type="image/x-icon">
<link rel="icon" href="~/Images/ms-icon-310x310.png" type="image/x-icon">


<div class="col-md-4 col-md-offset-4 well login-page">
    <h1>@ViewBag.Title.</h1>
    <p>
        Please check your email to reset your password.
    </p>
</div>

