@{
    ViewBag.Title = "Reset password confirmation";
}
@{ Layout = null;}
@Styles.Render("~/Content/css")
<link href="~/Content/LoginStyle.css" rel="stylesheet" />
<link rel="shortcut icon" href="~/Images/ms-icon-310x310.png" type="image/x-icon">
<link rel="icon" href="~/Images/ms-icon-310x310.png" type="image/x-icon">


<div class="col-md-4 col-md-offset-4 well login-page">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
